---
import Layout from '../layouts/Layout.astro';
import HeroSlider from '../components/home/heroSlider.astro';
import { Image } from 'astro:assets';
import flower1 from '../assets/images/Asset 5.png';
import flower2 from '../assets/images/Asset 9.png';
import ServiceCards from './service-cards.astro';
import QuickLinks1 from '../assets/images/DSC_0674.jpg';
import QuickLinks2 from '../assets/images/DSC_7735.jpg';
import Portfolio from '../components/home/portfolio.astro';
import Headshot1 from '../assets/images/IMG_0767.jpg';
import Headshot2 from '../assets/images/000_7584.JPG';
---

<Layout>
	<HeroSlider/>
	<div class="about container">
		<div class="row justify-content-center">
			<div class="col-8 text-center">
				<Image class="about-flower" src={flower1} alt="flower clipart"/>
				<h2>Your Story Deserves To Be Told</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		
	</div>
	<div class="quick-links container-fluid">
		<div class="row justify-content-center">
			<div class="col-4">
				<Image src={QuickLinks1} alt="Woman holding a baby at sunset"/>
			</div>
			<div class="col-4 text-center">
				<a href="/about" class="quick-link">
					<h4>About Me</h4>
					<p>Get to know me</p>
					<svg data-slot="icon" fill="none" stroke-width="1" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
					</svg>
				</a>
				<a href="/gallery" class="quick-link">
					<h4>Portfolio</h4>
					<p>Checkout my recent shoots</p>
					<svg data-slot="icon" fill="none" stroke-width="1" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
					</svg>
				</a>
				<a href="/pricing" class="quick-link">
					<h4>Information</h4>
					<p>Checkout services and pricing</p>
					<svg data-slot="icon" fill="none" stroke-width="1" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
					</svg>
				</a>
			</div>
			<div class="col-4">
				<Image src={QuickLinks2} alt="Woman sitting with her two children"/>
			</div>
		</div>
	</div>
	<div class="services container-fluid">
		<h2>My Services</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<ServiceCards/>
	</div>
	<Portfolio/>
	<div class="about-me container-fluid">
		<div class="container">
			<div class="row about-me-row1">
				<div class="col-4">
					<Image class="headshot1" src={Headshot1} alt='Genesis Holland'/>
				</div>
				<div class="col-auto about-me-heading">
					<h2>Meet the Girl <br>Behind the Camera</h2>
				</div>
				<Image class="flower2" src={flower2} alt="Flower"/>
			</div>
			<div class="row about-me-row2">
				<div class="col-6 about-me-img">
					<Image class="headshot2" src={Headshot2} alt='Genesis Holland'/>
				</div>
				<div class="col-6 about-me-text">
					<h3>Genesis Holland</h3>
					<p>Hey friends! I'm Genesis Holland, and I'm stoked to have you here!

						I am passionate about capturing the simple things in life, the sacred moments that are here and gone in a blink of an eye, and most importantly telling your story. I am newly married to my best friend, and we currently live in Athens, GA with our pup. I'm a part-time barista at an adorable local coffee shop, where I get to combine my love for craft coffee and serving the community.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid follow-me text-center">
		<a href="https://www.instagram.com/genesishollandphoto/" class="follow-me-link">
			<h2>Follow Me On Instagram</h2>
			<p>@genesishollandphoto</p>
		</a>
	</div>
</Layout>
<style>
	.about {
		padding: 8rem 0;
	}
	.about-flower {
		width: 25rem;
		height: auto;
		margin-bottom: 1rem;
	}
	.quick-links {
		padding-bottom: 8rem;
	}
	.quick-links div {
		position: relative;
	}
	.quick-links div:nth-of-type(1) img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.quick-links div:nth-of-type(3) img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0% 50%;
	}
	.quick-links div:nth-of-type(2) {
		padding: 6rem;
		background: var(--secondary-bg);
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}
	.quick-link {
		text-decoration: none;
	}
	.quick-link h4 {
		color: var(--primary-dark);
	}
	.quick-link p {
		color: var(--p-light);
		font-size: 1.6rem;
	}
	.quick-link svg {
		width: 50px;
		stroke: var(--primary-dark);
		transition: ease .2s;
	}
	.quick-link svg:hover {
		stroke: var(--light-pink);
	}
	.services {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 6rem 0;
	}
	.about-me {
		position: relative;
		margin-top: -6rem;
		padding: 16rem 0 10rem 4rem;
		background: var(--secondary-bg);
	}
	.about-me .about-me-row1 {
		position: relative;
	}
	.about-me .flower2 {
		position: absolute;
		top: -15rem;
		right: 0;
		width: 40rem;
		height: 20rem;
		object-fit: contain;
		transform: rotate(33deg);
		z-index: 10;
	}
	.about-me .headshot1 {
		width: 95%;
		height: 450px;
		object-fit: cover;
		object-position: 50% 100%;
	}
	.about-me .about-me-heading {
		padding: 5rem 0 0 2rem;
	}
	.about-me .about-me-row2 {
		position: relative;
		z-index: 5;
		margin-top: -18rem;
	}
	.about-me .about-me-row2 .about-me-img {
		display: flex;
		justify-content: flex-end;
	}
	.about-me .headshot2 {
		width: 75%;
		height: 350px;
		object-fit: cover;
		border: 1rem solid var(--secondary-bg);
	}
	.about-me .about-me-text {
		padding: 4rem 0 0 2rem;
	}
	.follow-me {
		background: var(--secondary-bg);
		padding: 6rem 0;
		text-align: center;
		text-decoration: none;
	}
	.follow-me-link {
		text-decoration: none;
	}
	.follow-me p {
		font-style: italic;
		color: var(--p-light);
		text-decoration: none;
	}
	</style>