---
import type { ImageMetadata } from "astro";
import { getImage, Picture } from "astro:assets";

interface props {
    title: string;
    imgUrl: ImageMetadata;
    flowerUrl: ImageMetadata;
    alt: string;
    position: string
}

const { title, imgUrl, flowerUrl, alt, position } = Astro.props;

const img = await getImage({
    src: imgUrl,
    format: "webp",
});
const flowerImg = await getImage({
    src: flowerUrl,
    format: "webp",
});
---
<div class="hero container-fluid d-flex align-items-end">
    <div class="row">
        <div class="col">
            <h1>{title}</h1>
        </div>
    </div>
    <picture>
        <source srcset={img.src} />
        <img class="background-img" src={img.src} alt={alt} style=`object-position:${position}`/>
    </picture>
    <picture>
        <source srcset={flowerImg.src} />
        <img class="flower" src={flowerImg.src} alt="Flower"/>
    </picture>
</div>
<style>
    .hero {
        height: 50rem;
        position: relative;
        padding: 0 4% 8rem 4%;
    }
    .hero .row {
        position: relative;
        z-index: 1;
    }
    .hero h1 {
        color: var(--primary-light);
    }
    .background-img {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: 50% 100%;
    }
    .flower {
        position: absolute;
        bottom: -10rem;
        right: 4rem;
        width: 40rem;
        height: auto;
        object-fit: contain;
        transform: rotate(15deg);
    }
</style>